
<div id="bottompane">
	<span class = "help-inline"><%= flash[:notice] %> </span>
	<h2> View Labor </h2>

	<% form_for :labor, :url => list_labor_path,  :id => "laborform" do |f| %>  
		<label> Select a service type: </label>
		<%= select_tag(:service_id,  options_from_collection_for_select(@services, 'id', 'service_name', 1)) %><br/>

		<div id="labordiv">
		<%= render :partial => 'viewlabor' %>
		</div>
	<% end %>
</div>

<script type="text/javascript">
// $("#bottompane select").on("change", 
// 	function(){
// 		alert("hi");
// 		$("#laborform").submit();

// 	});


$("#bottompane select").on("change", function() {
	$.ajax({
		url: '<%= list_labor_path %>',
		data: "id=" + $(this).val(),
		success: function(result) {
			$("#labordiv").html(result)
		} // success 
		});
});
</script>