      <a class="brand" href="/">Insignia</a>
      <ul class="nav">
       <li><a href='/login/about'>About Us</a></li><li><a href='/login/services'>Services</a></li><li>
      <a href='/login/contactus'>Contact Us</a></li>
      </ul>
      <ul class="nav pull-right">

        <li><%= link_to 'Sign Up', '/login/newuser' %></li>
        <li><%= link_to 'Sign In', "/login/_login" %> </li>

      </ul>
    </div>
  </div>
</div>