<style type="text/css">
 p {
    margin-right: auto;
    width: 310px;
 }
</style>

<div id="bottompane">
	<p>
		No.18/1, Outer Ring Road<br/>
		Panathur Post<br/>
		Bangalore – 560 103<br/>
	</p>
	<p>
		Tel: +91 080 41067000<br/>
		Fax: +91 080 41266501 
	</p>
</div>