
<div id="changepasswordcontent" style="display:none">
  <%= render :partial => 'change_password' %>
</div>
<div id="editcontent" style="display:<%= controller.action_name == 'update' ? 'block' : 'none' %>">
  <%= render :partial => 'edit' %>
</div>
</body>